.post {
  width: 100%;
  max-width: 550px;
  border-bottom: 3px solid var(--error-color);
  padding: 7px 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.post-user-menu {
  color: rgb(0 0 0 / 70%);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.toggle-menu {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  width: 100px;
  height: 0;
  right: 0;
  transition: all 0.2s ease-out;
  overflow: hidden;
  border-radius: 7px;
  padding: 5px;
  color: white;
  z-index: 2;
}

.toggle-menu.visible {
  height: 35px;
  background-color: rgb(0 0 0 / 95%);
}

.toggle-menu svg {
  margin-right: 7px;
  color: red;
  stroke-width: 2;
}

.post a {
  text-decoration: none;
  color: black;
}

.post-info {
  width: 20%;
  text-align: center;
  padding: 10px 0;
  border-radius: 7px;
  color: black;
}

.post-info > * {
  margin: 0 5px;
}

.post-info img {
  aspect-ratio: 1/1;
  width: 70px;
  border-radius: 50%;
  border: 3px solid white;
}

.post-text {
  padding-top: 2px;
  font-weight: 425;
  width: 100%;
  overflow-wrap: break-word;
  padding-right: 20px;
}

.post-song {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
}

.post-song-info {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-items: center;
  justify-items: center;
}

.post-song-info .song-info {
  grid-column: 1 / 3;
}

.post-song-info a img {
  width: 40px;
}
