.post {
  width: 400px;
  border-bottom: 3px solid var(--orange);
  padding: 7px 10px;
}

.post a {
  text-decoration: none;
  color: black;
}

.post-info {
  display: flex;
}

.post-info > * {
  margin: 0 5px;
}

.post-info img {
  aspect-ratio: 1/1;
  width: 65px;
  border-radius: 50%;
}

.post-info img:hover {
  filter: contrast(105%);
}

.post-text {
  padding-top: 2px;
}
