.remove-container {
  color: black;
  font-weight: bold;
  font-size: 0.8em;
  background-color: var(--green);
  border-radius: 7px;
  width: 300px;
  height: 200px;
  display: grid;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
