.modal-log {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--rose-low-opacity);
  backdrop-filter: blur(4px);
  display: grid;
  align-items: center;
  z-index: 1;
}

.links-options {
  padding-top: 20px;
}

.links {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-out;
  border: 2px solid white;
  border-radius: 7px;
  padding: 7px 10px;
}

.links:hover {
  border-color: var(--rose);
  background-color: var(--rose);
  color: black;
}

.option-container {
  color: black;
  font-weight: bold;
  font-size: 0.8em;
  background-color: var(--green);
  border-radius: 7px;
  width: 400px;
  height: 200px;
  display: grid;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
