.body-profile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-user {
  background-color: var(--error-color);
  border-radius: 7px;
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 10px;
  text-align: center;
}

.profile-user img {
  aspect-ratio: 1/1;
  width: 80px;
  border-radius: 50%;
  border: 2px solid white;
}

.edit-icon {
  color: white;
  position: absolute;
  top: 2px;
  right: 40%;
  stroke-width: 1.8;
  cursor: pointer;
}

.profile-posts {
  overflow: auto;
  margin-top: 7px;
  padding: 0 7px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-posts::-webkit-scrollbar {
  appearance: none;
}

.profile-posts::-webkit-scrollbar:vertical {
  width: 6px;
}

.profile-posts::-webkit-scrollbar-thumb {
  background-color: var(--contrast-color);
  border-radius: 7px;
}
