.body-profile {
  display: flex;
  height: 100%;
  width: 100%;
}

.profile-user {
  width: 20%;
  height: fit-content;
  border: 2px solid rgb(0 0 0 / 30%);
  border-radius: 10px;
  padding: 10px;
  margin: 7px;
  text-align: center;
}

.profile-user img {
  aspect-ratio: 1/1;
  width: 100px;
}

.profile-posts {
  height: 100%;
  overflow: auto;
  margin: 0 20px;
  width: fit-content;
}

.profile-posts::-webkit-scrollbar {
  display: none;
}
