.home-posts {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 7px;
}

.home-posts::-webkit-scrollbar {
  appearance: none;
}

.home-posts::-webkit-scrollbar:vertical {
  width: 6px;
}

.home-posts::-webkit-scrollbar-thumb {
  background-color: var(--contrast-color);
  border-radius: 7px;
}
