.song-info {
  margin-top: 5px;
  padding: 7px;
  background-color: var(--yellow);
  border-radius: 7px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.song-info .img {
  width: 70px;
  height: 100%;
}

.song-info .img img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.song-info .tag-info {
  text-align: left;
  margin-left: 7px;
  font-size: 1.1em;
  flex: 1;
}

.song-info .tag-info p:last-child {
  color: grey;
  font-size: 0.9em;
  font-weight: normal;
}

.song-info h3 {
  width: 100%;
}

.links-songs {
  margin-right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.links-songs > a {
  margin: 0 7px;
  display: flex;
}
