/* stylelint-disable no-descending-specificity */
.menu {
  width: 250px;
  position: relative;
  overflow: hidden;
  font-size: 1.1em;
}

.menu,
.nav-bar {
  display: flex;
  flex-direction: column;
}

.logo-app {
  margin-top: 10px;
  height: 90px;
  display: grid;
}

.logo-app img {
  margin: auto;
  height: 90px;
}

.nav-bar {
  margin-top: 30px;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.nav-bar a {
  padding: 10px 0;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: all 0.4s;
  height: 50px;
  width: 100%;
  overflow: hidden;
  letter-spacing: 0.6px;
}

.nav-bar a,
.user-info {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav-bar a:hover,
.nav-bar a.active,
.user-info:hover {
  background-color: white;
}

.nav-bar a:hover {
  transform: translateX(15px);
}

.nav-bar a.active {
  font-weight: bold;
}

.nav-bar a.active svg {
  stroke-width: 2;
  transition: 0.4s;
}

.nav-bar a div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav-bar svg {
  height: 25px;
  width: 25px;
  margin-right: 7px;
}

.nav-bar img {
  width: 19px;
  margin: 0 5px;
}

.nav-bar button,
.info-post button {
  display: flex;
  width: 80%;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  background-color: white;
  font-size: 1em;
  color: var(--rose);
  font-weight: bold;
  border: none;
  transition: all 0.1s;
}

.nav-bar button:hover {
  filter: saturate(2);
}

.user-info {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.user-info .user-image {
  width: 60px;
  margin-right: 7px;
}

.user-info .user-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-info svg {
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  color: black;
}

.user-tags {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  flex: 1;
}

.tag-name,
.tag-nick {
  margin: 1px 0;
}

.tag-name {
  color: black;
}

.tag-nick {
  font-size: 0.9em;
  color: rgb(0 0 0 / 80%);
}

.user-menu {
  width: 250px;
  height: 80px;
  overflow: hidden;
  background-color: grey;
  position: absolute;
  bottom: -70px;
  right: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.user-menu.active {
  bottom: 0;
}

.user-menu-options {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 0.9em;
}

.user-menu-options:hover {
  background-color: white;
}

.user-menu-options svg {
  width: 20px;
  height: 20px;
  margin-left: 7px;
}
