.menu {
  width: 200px;
  position: relative;
  overflow: hidden;
}

.logo-app {
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
}

.logo-app img {
  margin: auto;
  aspect-ratio: 1/1;
  height: 100px;
}

.nav-bar {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.nav-bar a {
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: all 0.4s;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav-bar a:hover {
  background-color: var(--rosequartz);
  transform: translateX(15px);
}

.nav-bar a.active {
  background-color: var(--rosequartz);
  font-weight: bold;
}

.user-info {
  position: absolute;
  bottom: 0;
  width: 100%;
}
