.main-content {
  display: flex;
  width: 100%;
  height: 100vh;
}

.app-header {
  background: linear-gradient(270deg, var(--contrast-color) 40%, var(--background-dark-color) 160%);
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.app-body {
  height: 100%;
  background-color: var(--complementary-color);
  padding: 5px;
  display: flex;
}

.explore-aside {
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 100%;
  background-color: var(--complementary-color);
  padding: 20px 0;
  overflow: auto;
}

.explore-aside > div {
  max-width: 430px;
}

.explore-aside::-webkit-scrollbar {
  display: none;
}

.btn {
  transition: all 0.3s;
  letter-spacing: 1px;
  border-radius: 25px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  margin: 7px 10px 0;
  padding: 7px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-light-color);
}

.btn span {
  background-color: transparent;
  position: absolute;
  z-index: 1;
}

.btn::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
}

.btn:hover::before {
  width: 100%;
}

.btn.primary {
  background-color: transparent;
  border: 3px solid var(--primary-button);
}

.btn.primary::before {
  background-color: var(--primary-button);
}

.btn.secondary {
  background-color: transparent;
  border: 3px solid var(--secondary-button);
}

.btn.secondary::before {
  background-color: var(--secondary-button);
}

.close-window {
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 5px;
  cursor: pointer;
}

.cover-window {
  width: 0;
  height: 0;
  position: absolute;
}

.cover-window.active {
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
